{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} 
{% block head_title %}{% trans "Sign In" %}{% endblock %} 

{% block content %}

<section id="login">
  <div class="login-container">
    <div class="row">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <img class="book-image" src="https://res.cloudinary.com/ddhmc5wvm/image/upload/v1658693724/book-nook/images/book-flip-open_r97o1l.svg" alt="image of a book outline flipped open with sparkles" height="251.0553" width="400"      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h1>{% trans "Log In" %}</h1>
        <h2 class="page-subtitle text-center">
          So many books, so little time...
        </h2>

        <p class="text-center">
          {% blocktrans %}If you have not created an account yet, then please
          <a class='links' href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
