{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans
"Signup" %}{% endblock %} {% block content %}

<section id="signup">
  <div class="signup-container">
    <div class="row">
      <div
        class="col-12 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          class="book-image"
          src="https://res.cloudinary.com/ddhmc5wvm/image/upload/v1658699489/book-nook/images/book-stack_tlmyih.svg"
          alt="image of a book stack with sparkles"
          height="261.6899"
          width="400"
        />
      </div>
      <div
        class="col-12 d-flex flex-column justify-content-center align-items-center"
      >
        <h1>{% trans "Sign Up" %}</h1>
        <h2 class="page-subtitle text-center">
          Meet your next favourite book...
        </h2>

        <p>
          {% blocktrans %}Already have an account? Then please
          <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>

        <form
          class="signup"
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}"
        >
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <div class="flex-column d-flex justify-content-center align-items-center">
            <button class="btn btn-styles btn-dark" type="submit">
              {% trans "Sign Up" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
