@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap");

/* Color scheme variables */
:root {
  --linen: #f5e7e0;
  --darkSienna: #3d0814;
  --seashell: #fcf5f1;
  --irresistable: #ad4566;
  --mediumPurple: #9d8df1;
}

* {
  font-family: "Courier Prime", sans serif;
  color: var(--darkSienna);
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--linen);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-alert{
  background-color: var(--irresistable);
  color:var(--seashell);
}


/* Any sections that need the lighter color background */
.bg-seashell {
  background-color: var(--seashell);
}

/* Any element that needs a font-color */

.irresistable{
  color:var(--irresistable);
}

/* Any icons that need the lighter color */
.icon-lg {
  color: var(--linen);
}

/* Any page title h1 general styles */
.page-title {
  font-size: 3rem;
  font-weight: 700;
}

/* Any page sub title, h2 and down, general styles */
.page-subtitle {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--irresistable);
}

/* needed to clear bootstrap padding and margins */
.row {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--irresistable);
  font-weight: 700;
}

a:visited {
  text-decoration: none;
  color: var(--irresistable);
}

a:hover {
  text-decoration: none;
  color: var(--mediumPurple);
}

/* general button styles for the website */
.btn-styles {
  background-color: var(--darkSienna);
  color: var(--linen);
  border: none;
}

.btn-styles:hover {
  background-color: var(--mediumPurple);
  color: var(--linen);
}

/* Styles for mobile first */

/* Navbar Styles */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--linen);
}

.red-bg {
  background-color: var(--darkSienna);
}

.nav-item {
  padding: 0 13px;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
}

.user-nav-item {
  background-color: var(--irresistable);
  border-radius: 2px;;
}

.user-nav-item p{
  color:var(--seashell);
}

/*Footer Styles */

footer {
  margin-top: auto;
}

.footer-icons-container {
  padding: 55px 21px 21px 21px;
}

/* Home Page Styles */

.hero-info {
  padding-bottom: 40px;
}

.homepage-subtitle {
  font-size: 1.8rem;
  color: var(--darkSienna);
}

.homepage-quote {
  padding: 20px 0;
  font-size: 1.6rem;
}

.btn-homepage {
  width: 140px;
}

.section-title {
  padding: 20px 10px;
}

#carousel-section {
  padding: 20px 0;
}

.owl-carousel {
  margin-top: 20px;
}

.card-home {
  margin: 0 8px;
}

#home-genres {
  padding: 20px 0;
}

.home-card-body {
  padding: 0;
}

.home-card-body h4 {
  font-size: 1.2rem;
  color: var(--linen);
}

.genre-card {
  margin: 0 2px;
  --bs-card-inner-border-radius: 0;
  border-radius: 0;
  border: none;
}

.genre-card-img {
  height: 80px;
  object-fit: cover;
}

.home-card-body .card-img-overlay {
  padding: 0 2px;
  border-radius: 0;
}

.card-title-bg {
  background-color: var(--seashell);
  width: 100%;
  opacity: 0.8;
  height: 50px;
}

.card-title-bg h4 {
  color: var(--darkSienna);
  font-weight: 700;
  padding-top: 10px;
}

/* Bookshelf Styles */

.book-listing-body {
  padding: 0px;
}

.book-listing-title,
.book-listing-author {
  display: none;
}

.book-listing-text {
  display: none;
}

.searchfield {
  display: inline;
  max-width: 60%;
}

/* book.html */

.book-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.book-subtitle {
  font-size: 1.2rem;
}

.book-container {
  padding: 20px 5px 0 5px;
}

.book-detail-image {
  max-height: 120px;
  width: auto;
}

.excerpt,
.reviews-container {
  padding: 40px 0;
}

.reviews-container {
  margin: 0 10px;
}

.p-bold,
.review-heading h4,
.review-heading p {
  font-weight: 700;
}

.h3-styles {
  font-weight: 700;
  font-size: 1.8rem;
}

.h3-links a {
  font-weight: 700;
  font-size: 1.8rem;
}

.asteriskField {
  display: none;
}

.btn-like {
  color: #e84610;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #e84610;
  background: transparent;
  border: none;
}

.alert-link a{
  color:var(--seashell);
}

.alert-link a:hover{
  color:var(--mediumPurple);
}

/* Log In Styles */

.accounts-section-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  height: 100%;
}

.book-image {
  width: 250px;
  height: auto;
  padding: 20px 0;
}

/* Genre Page Styles */

.btn-genre {
  background-color: var(--mediumPurple);
}

.btn-genre:hover {
  background-color: var(--irresistable);
}

/* My Books styles */

.user-title {
  font-size: 1.8rem;
}

.book-link {
  color: var(--irresistable);
}

.book-link:hover {
  color: var(--mediumPurple);
}

.approval-tag{
  border-radius: 2px;
  background-color: var(--irresistable);
  max-width:225px;
}

.approval-tag p{
  color:var(--seashell);
  font-size: 1rem;
  font-weight: 400;
}

/*edit review styles */

.review-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--irresistable);
}

/* Approvals styles */

.img-approval{
 max-width:50%;
}

@media screen and (min-width: 700px) {
  /* Home styles */

  #hero-section {
    padding: 40px;
  }

  .genre-card-img {
    height: 100px;
  }

  /* book.html */

  .book-detail-image {
    max-height: 160px;
  }

  .book-title {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 1000px) {
  /* bookshelf styles */

  .searchfield {
    max-width: 80%;
  }

  /* book.html */

  #hero-section {
    padding: 100px;
  }
}
