{% extends "base.html" %} {% load static %} {% block title %}
<title>The Book Nook</title>
{% endblock %} {% block content %}

<section id="hero-section">
  <div>
    <div class="row">
      <div
        class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          class="book-image"
          src="https://res.cloudinary.com/ddhmc5wvm/image/upload/v1658737960/book-nook/images/open-book-image-1_pbji0b.svg"
          height="260.311 "
          width="400"
          alt="Image of an open book with sparkles"
        />
      </div>
      <div
        class="pb-5 col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="page-title text-center mt-5 mb-2">The Book Nook</h1>
        <h2 class="page-subtitle text-center homepage-subtitle">
          Review & Search Books
        </h2>
        <h3 class="text-center homepage-quote page-subtitle">
          A room without a book is like a body without a soul
        </h3>
        {% if user.is_authenticated %}
        <h3 class="text-center page-subtitle">Welcome {{ user }}</h3>
        <a href="{% url 'my_books' %}">
          <button class="btn btn-homepage btn-styles">My Books</button>
        </a>
        {% else %}
        <a href="{% url 'account_login' %}"
          ><button class="btn btn-homepage btn-styles">Login</button></a
        >
        <a href="{% url 'account_signup' %}"
          ><button class="btn btn-homepage mt-3 btn-styles">Sign Up</button></a
        >
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- Book carousel Section-->
<section id="carousel-section" class="bg-seashell">
  <h3 class="text-center page-subtitle">Discover</h3>
  <!--Owl Carousel https://owlcarousel2.github.io/OwlCarousel2/-->
  <div class="owl-carousel owl-theme">
    {% for book in book_list %}
    <div class="item">
      <div class="card h-100 card-home bg-transparent border-0">
        <div class="card-body book-listing-body">
          <a href="{% url 'book_detail' book.slug %}">
            <img
              class="card-img-top owl-book-listing"
              src=" {{ book.book_image.url }}"
              alt="{{ book.title }} by {{ book.book_author }} book listing"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!--Genre Section-->
<section id="home-genres">
  <h3 class="text-center page-subtitle">Book Genres</h3>
  <!--Owl Carousel https://owlcarousel2.github.io/OwlCarousel2/-->
  <div class="owl-carousel owl-theme">
    {% for genre in genre_list %}
    <div class="item">
      <div class="card h-100 genre-card">
        <div class="card-body p-0">
          <a href="{% url 'genre_detail' genre.slug %}">
            <div
              class="p-0 card-header genre-card-title bg-seashell d-flex align-items-center justify-content-center"
            >
              <h4
                class="m-0 f-medium p-bold card-title irresistable text-center"
              >
                {{ genre.genre_name }}
              </h4>
            </div>
            <img
              class="card-img genre-card-img"
              src=" {{ genre.genre_image.url }} "
              alt="image associated with {{ genre.genre.name }}"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %} {% block script %}
<!-- Script for owl carousel initilisation and settings-->
<script>
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    dots: false,
    responsive: {
      0: {
        items: 1,
      },
      300: {
        items: 3,
      },
      600: {
        items: 5,
      },
      1000: {
        items: 7,
      },
    },
  });
</script>
{% endblock %}
