{% extends "base.html" %} {% load static %} {% block content %}

<section id="hero-section">
  <div>
    <div class="row">
      <div
        class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          class="book-image"
          src="https://res.cloudinary.com/ddhmc5wvm/image/upload/v1658737960/book-nook/images/open-book-image-1_pbji0b.svg"
          height="260.311 "
          width="400"
          alt="Image of an open book with sparkles"
        />
      </div>
      <div
        class="hero-info col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="page-title text-center mt-5 mb-2">The Book Nook</h1>
        <h2 class="page-subtitle text-center homepage-subtitle">
          Review & Search Books
        </h2>
        <h3 class="text-center homepage-quote page-subtitle">
          A room without a book is like a body without a soul
        </h3>
        <button class="btn btn-dark btn-homepage btn-styles">Login</button>
        <button class="btn btn-dark btn-homepage btn-styles">Sign Up</button>
      </div>
    </div>
  </div>
</section>

<section id="carousel-section" class="bg-seashell">
  <h3 class="text-center page-subtitle">Discover</h3>
  <!--Owl Carousel-->
  <div class="owl-carousel owl-theme">
    {% for book in book_list %}
    <div class="item">
      <div class="card card-home bg-transparent border-0">
        <div class="card-body book-listing-body">
          <a href="{% url 'book_detail' book.slug %}">
            {% if "placeholder" in book.book_image.url %}
            <img
              class="card-img-top home-carousel-img"
              src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
              alt="{{ book.title }} by {{ book.book_author }} book listing with no book cover"
            />
            {% else %}
            <img
              class="card-img-top home-carousel-img"
              src=" {{ book.book_image.url }}"
              alt="{{ book.title }} by {{ book.book_author }} book listing"
            />
            {% endif %}
            <p class="book-listing-text card-text">
              {{book.book_blurb|truncatewords:10}}
            </p>
            <h2 class="book-listing-title card-title">{{ book.title }}</h2>
            <p class="book-listing-author">by {{ book.book_author }}</p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="home-genres">
  <h3 class="text-center page-subtitle">Book Genres</h3>
  <!--Owl Carousel-->
  <div class="owl-carousel owl-theme">
    {% for genre in genre_list %}
    <div class="item">
      <div class="card genre-card">
        <div class="card-body home-card-body">
          <a href="{% url 'genre_detail' genre.slug %}">
            <img
              class="card-img genre-card-img"
              src=" {{ genre.genre_image.url }} "
              alt="image associated with {{ genre.genre.name }}"
            />
            <div class="card-img-overlay align-items-center">
              <div class="card-img-overlay card-title-bg">
                <h4 class="card-title text-center">{{ genre.genre_name }}</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
