{% extends "base.html" %} {% load static %} {% block title %}
<title>{{ book.title }}</title>
{% endblock %}{% block content %} {% load crispy_forms_tags %} 
{% if favourite %}
<div class="row justify-content-center">
  <div class="col col-md-8">
    <div
      class="alert text-center alert-success alert-dismissible fade show user-alert"
    >
      You have bookmarked this book.
      <button
        type="button"
        class="btn-close user-alert"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
{% endif %}

<section id="book-detail" class="pb-5 pt-5">
  <div class="book-container conatiner-fluid">
    <div class="row justify-content-center">
      <div class="col-auto mt-3 col-md-2">
        {% if "placeholder" in book.book_image.url %}
        <img
          class="card-img-top book-detail-image"
          src="https://res.cloudinary.com/ddhmc5wvm/image/upload/v1661075789/book-nook/images/bookworm-3.png"
          alt="{{ book.title }} by {{ book.book_author }} book listing with no book cover"
        />
        {% else %}
        <img
          class="card-img-top book-detail-image"
          src=" {{ book.book_image.url }}"
          alt="{{ book.title }} by {{ book.book_author }} book listing"
        />
        {% endif %}
      </div>
      <div class="col-auto mt-3 col-md-6">
        <div class="row align-items-center">
          <div class="col-12">
            <h1 class="book-title text-center text-md-start">
              {{ book.title }}
            </h1>
          </div>
          <div class="col-12">
            <h2 class="book-subtitle text-center text-md-start">
              by {{ book.book_author }}
            </h2>
          </div>
          <div class="row justify-content-center justify-content-md-start mt-3">
            <div
              class="col-4 d-flex justify-content-center justify-content-md-start col-md-4 col-lg-2"
            >
              <a href="#reviews"
                ><button type="button" class="btn btn-styles">Review</button></a
              >
            </div>
            <div class="col-8 mt-2">
              <strong
                class="d-flex justify-content-center justify-content-md-start"
              >
                {% if user.is_authenticated %}
                <form
                  class="d-inline"
                  action="{% url 'book_favourite' book.slug %}"
                  method="POST"
                >
                  {% csrf_token %} {% if favourite %}
                  <span class="text-secondary"
                    >{{ book.number_of_favourites }}
                  </span>
                  <button
                    type="submit"
                    name="book_id"
                    value="{{book.slug}}"
                    class="btn-like"
                  >
                    <i class="fa-solid fa-bookmark"></i>
                  </button>
                  {% else %}
                  <span class="text-secondary"
                    >{{ book.number_of_favourites }}
                  </span>
                  <button
                    type="submit"
                    name="book_id"
                    value="{{book.slug}}"
                    class="btn-like"
                  >
                    <i class="fa-regular fa-bookmark"></i>
                  </button>
                  {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"
                  >{{ book.number_of_favourites }}
                </span>
                <span><i class="fa-regular fa-bookmark"></i></span>
                <span class="ms-3"
                  ><a href="{% url 'account_login' %}">Log In</a> or
                  <a href="{% url 'account_signup' %}">Sign Up</a> to
                  Bookmark</span
                >
                {% endif %}
              </strong>
            </div>
            <!-- <div class="row mt-2">
              <div class="col-12">Rating stars</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <h3 class="h3-styles">Blurb</h3>
        <p>{{ book.book_blurb | linebreaks }}</p>
      </div>
    </div>
  </div>
</section>

<!--Reviews section of Book page-->
<section id="reviews" class="bg-seashell pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      {% if reviewed %}
      <div
        class="alert text-center alert-success alert-link alert-dismissible fade show user-alert"
      >
        Your review is awaiting approval. <br />
        Checkout <a href="{% url 'my_books' %}">My Books</a> to see your review
        awaiting approval.
        <button
          type="button"
          class="btn-close user-alert"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% else %} {% if user.is_authenticated %}
      <div>
        <h3 class="h3-styles">Leave a Review</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {{ review_form | crispy }} {% csrf_token %}
          <button type="submit" class="btn btn-styles">Review</button>
        </form>
      </div>
      {% else %}
      <h3 class="h3-styles h3-links text-center">
        Please <a href="{% url 'account_login' %}">Log In</a> or
        <a href="{% url 'account_signup' %}">Sign Up</a> to review
      </h3>
      {% endif %} {% endif %}
    </div>
  </div>

  <div class="mx-3 py-5 row justify-content-center">
    <div class="col-12 col-md-8">
      <h3 class="h3-styles">Reviews</h3>
    </div>
    <div class="row justify-content-center">
      {% for review in reviews %}
      <div class="card mt-4 col-12 col-md-8">
        <div class="card-body">
          <div class="review-heading row py-2">
            <div class="col-12 col-md-6">
              <h4>{{ review.review_username }}</h4>
            </div>
            <div class="col-12 col-md-6">
              <p>{{ review.review_created_on }}</p>
            </div>
          </div>
          <div class="row">
            <div class="review-body col-12">
              <p class="p-bold">reviewed:</p>
              <p>{{ review.review_detail | linebreaks}}</p>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12 col-md-8">
        <h3>No reviews made yet</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
