{% extends "base.html" %} {% load static %} {% block content %}
<section>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h1 class="page-title mt-5 mb-3">My Books</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h4 class="page-subtitle user-title mb-5">Username: {{ user }}</h4>
    </div>
  </div>
</section>

<section class="bg-seashell pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h2 class="page-subtitle text-center">My Bookmarks</h2>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      {% for book in user_fav %}
      <div class="col-4 col-sm-4 col-md-2">
        <div class="card">
          <div class="card-body book-listing-body">
            <a href="{% url 'book_detail' book.slug %}">
              {% if "placeholder" in book.book_image.url %}
              <img
                class="card-img-top"
                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                alt="{{ book.title }} by {{ book.book_author }} book listing with no book cover"
              />
              {% else %}
              <img
                class="card-img-top"
                src=" {{ book.book_image.url }}"
                alt="{{ book.title }} by {{ book.book_author }} book listing"
              />
              {% endif %}
              <p class="book-listing-text card-text">
                {{book.book_blurb|truncatewords:10}}
              </p>
              <h2 class="book-listing-title card-title">{{ book.title }}</h2>
              <p class="book-listing-author">by {{ book.book_author }}</p>
            </a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
      {% endif %} {% empty %}
      <div class="col-12 col-md-8">
        <h3>No Books</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h2 class="page-subtitle text-center">My Reviews</h2>
    </div>
  </div>

  <div class="row mx-2 justify-content-center">
    {% for review in user_review %}
    <div class="card mt-4 col-12 col-md-8">
      <div class="card-body">
        <div class="review-heading row py-2">
          <div class="col-12 col-md-6">
            <a href="{% url 'book_detail' review.book_listing.slug %}"
              ><h4 class="book-link">{{ review.book_listing }}</h4></a
            >
          </div>
          <div class="col-12 col-md-6">
            {% if review.review_approved is False %}
            <div class="approval-tag">
              <p class="text-center">Waiting on approval</p>
            </div>
            {% endif %}
            <p>{{ review.review_created_on }}</p>
          </div>
        </div>
        <div class="row">
          <div class="review-body col">
            <p class="p-bold">review:</p>
            <p>{{ review.review_detail | linebreaks}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href=" {% url 'edit_review' review.pk %} ">
              <button class="btn btn-styles">Update</button>
            </a>
            <a href="#">
              <button class="btn btn-styles">Delete</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12 col-md-8">
      <h3>No reviews made yet</h3>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
