{% extends "base.html" %} {% load static %} {% block title %}
<title>My Books</title>
{% endblock %}{% block content %}{% load ratings %}
<section>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h1 class="page-title mt-5 mb-3">My Books</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h2 class="page-subtitle user-title mb-5">Username: {{ user }}</h2>
    </div>
  </div>
</section>

<section class="bg-seashell pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h2 class="page-subtitle text-center">My Bookmarks</h2>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      {% for book in user_fav %}


      <div class="col-12 col-md-4 col-lg-3 mb-3 mb-md-5">
        <a href="{% url 'book_detail' book.slug %}">
          <div class="card h-100 book-card">
            <div class="card-header linen">
              <h2 class="mt-2 book-listing-title f-medium p-bold">
                {{ book.title }}
                <span class="irresistable f-medium p-bold"
                  >by {{ book.book_author }}</span
                >
              </h2>
              <div class="star">
                <!--https://django-star-ratings.readthedocs.io/en/latest/?badge=latest/#-->
                {% ratings book 12 12 read_only %}
              </div>
            </div>
            <div class="row">
              <div class="col-4 d-flex align-items-center p-0">
                <div class="card-body p-0">
                  {% if "placeholder" in book.book_image.url %}
                  <img
                    class="card-img-top image-listing"
                    src="https://res.cloudinary.com/ddhmc5wvm/image/upload/v1661075789/book-nook/images/bookworm-3.png"
                    alt="{{ book.title }} by {{ book.book_author }} book listing with no book cover"
                  />
                  {% else %}
                  <img
                    class="card-img-top image-listing"
                    src=" {{ book.book_image.url }}"
                    alt="{{ book.title }} by {{ book.book_author }} book listing"
                  />
                  {% endif %}
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <p class="book-listing-text f-small card-text">
                  {{book.book_blurb|truncatewords:20}}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% if forloop.counter|divisibleby:8 %}
    </div>
    <div class="row">
      {% endif %} {% empty %}
      <div class="col-12 col-md-8">
        <h3>No Books Bookmarked</h3>
        <p> To bookmark books, go to the book page and click the bookmark icon to bookmark the book. Click it again to remove the bookmark</p>
      </div>
      {% endfor %}
    </div>
  </div>
  
</section>

<section class="pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <h2 class="page-subtitle text-center">My Reviews</h2>
    </div>
  </div>
  <div class="row mx-2 justify-content-center">
    {% for review in user_review %}
    <div class="card mt-4 col-12 col-md-8">
      <div class="card-body">
        <div class="review-heading row py-2">
          <div class="col-12 col-md-6">
            <a href="{% url 'book_detail' review.book_listing.slug %}"
              ><h2 class="irresistable p-bold book-link">{{ review.book_listing }}</h2></a
            >
          </div>
          <div class="col-12 col-md-6">
            {% if review.review_approved is False %}
            <div class="approval-tag">
              <p class="text-center">Waiting on approval</p>
            </div>
            {% endif %}
            <p>{{ review.review_created_on }}</p>
          </div>
        </div>
        <div class="row">
          <div class="review-body col">
            <p class="p-bold">review:</p>
            <p>{{ review.review_detail | linebreaks}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href=" {% url 'edit_review' review.pk %} ">
              <button class="btn btn-styles">Update</button>
            </a>
            <a href="{% url 'delete_review' review.pk %}">
              <button class="btn btn-styles">Delete</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12 col-md-8">
      <h3>No reviews made yet</h3>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
